{% extends '../base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="ui container">
    <form class="ui form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h3 class="ui centered dividing header">You must signup here</h3>
        <p>&nbsp;</p>


        {{ form.as_p }}

        <div class="field">
            <button class="ui positive basic button" type="submit" value="signup">Submit</button>
            <input type="hidden" value="{{ next }}" name="next">
        </div>
    </form>

    <h3 class="ui centered dividing header"></h3>
</div>
{% endblock %}
