{% extends "../base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock%}

{% block menu %}
    
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    
    <div class="ui sidebar vertical left inverted menu">
        <div class="item">
             <h5>Dashboard</h5>
          <!--<img class="ui mini image" src="/images/logo.png"> --> 
         </div>
         <div class="item">
             <div class="header">Search</div>
             <div class="ui divider"></div>
             <div class="ui input"><input type="text" placeholder="Search..."></div>
         </div>
    
        <div class="item">
            <div class="header">User and Group</div>
            <a class="active item"><i class="teal user icon"></i>User Clients</a>
            <a class="item"><i class="blue chart bar icon"></i>Monitoring</a>
        </div>
         
        <div class="item">
            <div class="header">Transactions</div>
            <a class="item"><i class="blue dolly flatbed icon"></i>Products</a>
            <a class="item"><i class="orange bullhorn icon"></i>Requests</a>
            <a class="item"><i class="yellow shipping fast icon"></i>Deliveried</a>
            <a class="item"><i class="red shipping icon"></i>Pending</a>
            <a class="item"><i class="green check icon"></i>Success</a>
        </div>

        <div class="item">
            <div class="header">Settings</div>
            <a class="item"><i class="green sitemap icon"></i>layouts</a>
            <a class="item"><i class="yellow tachometer alternate icon"></i>Schedule</a>
            <a class="item"><i class="red binoculars icon"></i>Logs</a>
            <a class="item"><i class="orange cube icon"></i>Add Ons</a>
            <a class="item"><i class="red power off icon"></i>Sign Out</a>
        </div>
    </div> 
 
    <div class="ui basic icon top fixed menu">
         <a id="toggle" class="item">
             <i class="sidebar icon"></i>                
         </a>

        <a class="item" href="{% url 'signup' %}" data-content="Add User"><i class="teal user icon"></i></a>
        <a class="item" href="{% url 'coba' %}"><i class="blue chart bar icon"></i></a>
        <a class="item"><i class="blue dolly flatbed icon"></i></a>
        <a class="item"><i class="orange bullhorn icon"></i></a>
        <a class="item"><i class="yellow shipping fast icon"></i></a>
        <a class="item"><i class="red shipping icon"></i></a>
        <a class="item"><i class="green check icon"></i></a>
        <a class="item"><i class="green sitemap icon"></i></a>
        <a class="item"><i class="yellow tachometer alternate icon"></i></a>
        <a class="item"><i class="red binoculars icon"></i></a>
        <a class="item"><i class="orange cube icon"></i></a>
        <a class="item" href="{% url 'logout' %}"><i class="red power off icon"></i></a>

        <div class="right inverted menu">
            <a class="item" href="{% url 'dashboard' %}">
                <i class="user icon">
                </i>
            </a>
        </div>
    </div>

    


    <div class="pusher">
        <div class="ui container">
                <h1>&nbsp;</h1>

                <div class="ui positive message transition">
                        <i class="close icon"></i> 
                        <p class="ui center aligned">Welcome to the dashboard</p>
                    </div>
            
                <!--<p>hei {{ user.username }} logged successfully! </p> -->

                <div class="ui four link cards">
                        <div class="card">
                          <div class="ui centered small image">
                            <img src="{% static '/photo/photo_01.jpg' %}">
                          </div>
                          <div class="content">
                            <div class="ui centered header">Kimberly kim</div>
                            <div class="meta">
                              <a>Friends</a>
                            </div>
                            <div class="description">
                              Kim is an interior designer living in New York.
                            </div>
                          </div>
                          <div class="extra content">
                            <span class="right floated">
                              Joined in 2013
                            </span>
                            <span>
                              <i class="user icon"></i>
                              75 Friends
                            </span>
                          </div>
                        </div>
                        <div class="card">
                          <div class="image">
                            <img src="{% static '/photo/photo_02.jpg' %}">
                          </div>
                          <div class="content">
                            <div class="header">Molly</div>
                            <div class="meta">
                              <span class="date">Coworker</span>
                            </div>
                            <div class="description">
                              Molly is a personal assistant living in Paris.
                            </div>
                          </div>
                          <div class="extra content">
                            <span class="right floated">
                              Joined in 2011
                            </span>
                            <span>
                              <i class="user icon"></i>
                              35 Friends
                            </span>
                          </div>
                        </div>
                        <div class="card">
                          <div class="image">
                            <img src="{% static '/photo/photo_03.jpg' %}">
                          </div>
                          <div class="content">
                            <div class="header">Elyse</div>
                            <div class="meta">
                              <a>Coworker</a>
                            </div>
                            <div class="description">
                              Elyse is a copywriter working in New York.
                            </div>
                          </div>
                          <div class="extra content">
                            <span class="right floated">
                              Joined in 2014
                            </span>
                            <span>
                              <i class="user icon"></i>
                              151 Friends
                            </span>
                          </div>
                        </div>
                        <div class="card">
                            <div class="image">
                              <img src="{% static '/photo/photo_04.jpg' %}">
                            </div>
                            <div class="content">
                              <div class="header">Elyse</div>
                              <div class="meta">
                                <a>Coworker</a>
                              </div>
                              <div class="description">
                                Elyse is a copywriter working in New York.
                              </div>
                            </div>
                            <div class="extra content">
                              <span class="right floated">
                                Joined in 2014
                              </span>
                              <span>
                                <i class="user icon"></i>
                                151 Friends
                              </span>
                            </div>
                        </div>
                      </div>

            <p>&nbsp;</p>

            <div class="ui divider"></div>

            <p>&nbsp;</p>

            <div class="ui two column stackable grid">
                <div class="column">
                    <div class="ui segment">
                        <h4 class="ui center aligned header">List User</h4>
                        {% include 'shared/list_user.html' %}
                    </div>
                </div>

                <div class="column">
                    <div class="ui segment">
                        <h4 class="ui centered aligned header">Cards user</h4>
                        {% include 'shared/card_user.html' %}
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="ui divider"></div>

            <p>&nbsp;</p>

            <div class="ten wide column">
                <div class="ui segment">
                    <h4 class="ui centered aligned header">List email</h4>
                    {{ user.username }}
                </div>
            </div>


            {% else %}
                    <div class="ui container">
                        <p>Not access page !! you not login</p>
                    
                        <a href="{% url 'login' %}">Login</a>
                    </div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    
    <script>
        $('#toggle').click(function(){
            $('.ui.sidebar').sidebar('toggle');
        });
    </script>

<script>
        $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;
      </script>
    
{% endblock %}