{% extends "base.html" %}
{% load static %}

{% block favicon %}
    <link rel="icon" type="image/png" href="{% static 'icons/key.png' %}" />
{% endblock %}

{% block extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'semantic_ui/out/login.css' %}" />
{% endblock %}

{% block title %}
    Login
{% endblock%}

{% block content %}
    <div class="ui container">
        <div class="ui two column centered grid">

            
            <div class="column">
                <div class="box-login">
                    <form class="ui form" method="POST">
                      {% csrf_token %}
                            <div class="field">
                              <label>Username</label>
                              <div class="ui left icon input">
                                <input type="text" name="username" placeholder="Username" id="username">
                                <i class="user-icon"></i>
                              </div>
                            </div>
                            <div class="field">
                              <label>Password</label>
                              <div class="ui left icon input">
                                <input type="password" name="password" placeholder="Password" id="password">
                              <i class="key-icon"></i>
                              </div>
                            </div>

                            {% for message in messages %}
                              <div class="ui negative message transition">
                                <i class="close icon"></i>
                                <p>
                                  {{ message }}
                                </p>
                              </div>
                            {% endfor %}

                            <button class="ui right floated positive basic button" type="submit">Submit</button>   
                            
                            

                    </form>
                  </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <script>
      $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
    </script>
{% endblock %}