{% extends "base.html" %}
{% load static %}

{% block favicon %}
    <link rel="icon" type="image/png" href="{% static 'icons/key.png' %}" />
{% endblock %}

{% block extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'semantic_ui/out/login.css' %}" />
{% endblock %}

{% block title %}
    Login
{% endblock%}

{% block content %}
    <div class="ui container">
        <div class="ui two column centered grid">

            
            <div class="column">
                <div class="box-login">
                    <form class="ui form" method="POST">
                      {% csrf_token %}
                            <div class="field">
                              <label>Username</label>
                              <div class="ui left icon input">
                                <input type="text" name="username" placeholder="Username" id="username">
                                <i class="user-icon"></i>
                              </div>
                            </div>
                            <div class="field">
                              <label>Password</label>
                              <div class="ui left icon input">
                                <input type="password" name="password" placeholder="Password" id="password">
                              <i class="key-icon"></i>
                              </div>
                            </div>

                            <button class="ui positive basic button" type="submit">Submit</button>   
                            <p>{{ error }}</p>                        
                    </form>
                  </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}